@use "../abstracts";

.projects {
    // max-width: 50vw;
    overflow: hidden;
    display: grid;
    padding: var(--pages-padding);

    &__grid {
        max-width: 100%;
        display: grid;
        column-gap: 32px;
        row-gap: 48px;
        grid-template-columns: 1fr 1fr;
    }

    &__initial {
        margin: 0 0 48px;
        @include abstracts.flexbox(column, 8px, center, center);
    }

    &__item {
        display: grid;
        grid-template-rows: 1fr auto;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        cursor: pointer;
        height: auto;

        --scale-images: scale(1);

        @media (hover:hover) {
            &:hover {
                --scale-images: scale(1.01);

                & .projects__name::before {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }

    }

    &__picture {
        width: 100%;
        // height: 100%;
        background-color: var(--primary-soft);
        overflow: hidden;
        position: relative;
    }

    &__image {
        @include abstracts.object-fit();
        transition: transform .3s ease;
        transform: var(--scale-images);
    }

    &__information {
        @include abstracts.flexbox(row, 0, space-between, center);
        height: 100%;
        padding: 32px;
        background-color: var(--bg-secondary);
    }

    &__arrow {
        font-size: 1.8rem;
        transform: var(--arrow-rotate);
        transition: transform .2s ease
    }

    &__name {
        font-size: 1.4rem;
        font-family: var(--title-font);
        font-weight: var(--font-medium);
        position: relative;
        display: inline-block;

        &::before {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--color);
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .3s ease;
        }
    }

    &__description {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        font-size: .9rem;
        margin: 12px 0 0;

        max-width: 100%;
        display: -webkit-box !important;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: normal;
    }

    &__data,
    &__information,
    &__grid,
    &__picture {
        width: 100%;
        max-width: 100%;
    }

    &__image {
        width: 100%;
        height: 100%;
        transition: transform .3s ease;
    }

    &__modal {
        position: fixed;
        inset: 0;
        @include abstracts.center();
        height: 100dvh;
        z-index: 10;

        &-background {
            position: absolute;
            inset: 0;
            background-color: #fff9;
            animation: showInModal .7s ease;

            @keyframes showInModal {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }
        }


        &-box {
            position: relative;
            max-width: 450px;
            background-color: var(--bg);
            box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

            &>* {
                width: 100%;
            }
        }

        &-image {
            width: 100%;
        }

        &-row {
            padding: 16px 24px;
        }

        &-list {
            @include abstracts.flexbox(row, 8px, center, center);
        }

        &-description {
            font-size: .9rem;
            margin: 6px 0 0;
        }

        &-links {
            @include abstracts.flexbox(row, 8px, center, center);
            margin: 16px 0 24px;

            &>* {
                width: 100%;
            }
        }

        &-icon {
            color: var(--color-icon);
            font-size: 1.5rem;
        }


    }

}

@mixin projects-872px {
    .projects {

        &__grid {
            row-gap: 64px;
            grid-template-columns: 1fr;
        }
    }
}

@mixin projects-572px {
    .projects {
        &__name {
            font-size: 1.2rem;
            
        }

        &__description {
            margin: 4px 0 0;
            font-size: .8rem;
        }


        &__information {
            padding: 24px 20px;
        }


        &__modal{
            &-box{
                max-width: calc(100% - var(--sections-padding) * 2);
            }


            &-description{
                font-size: .75rem;
            }
        }
    }
}