@use "../abstracts";

.profile{
    padding: var(--pages-padding);
    display: flex;
    flex-direction: column;

    &__column{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 24px;
        column-gap: 48px;
    }

    &__header{
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-align: center;
        margin: 0 0 24px;
    }

    &__item{
        @include abstracts.flexbox(column, 10px);
    }

    &__subtitle{
        font-size: 1.3rem;
        font-weight: var(--font-medium);
    }

    &__asterisk{
        color: var(--primary);
        margin: 0 0 8px;
    }

    &__paragraph{
        white-space: pre-wrap;
    }
}


@mixin profile-872px{
    .profile{
        row-gap: 48px;
        grid-template-columns: 1fr;
    }
}