@use "../abstracts";


.technologies{
    padding: 32px 0 0;
    max-width: 100%;
    overflow-x: hidden;

    &__initial{
        @include abstracts.flexbox(column, 8px, center, center);
        padding: 0 var(--sections-padding);
        text-align: center;
    }

    &__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
        margin: 48px 0 0;
    }
    
    &__item{
        position: relative;
        

        @include abstracts.flexbox(row);
        background-color: var(--bg-secondary);
        max-width: 100%;
        cursor: pointer;
        &--modal{
            padding: 24px;

            max-width: 500px;
        }
    }
    
    &__item:hover &__icons{
        transform: scale(1.2);
    }

    &__picture{
        @include abstracts.center();
        // width: 64px;
        min-height: 100%;
        height: 100%;
        width: auto;
        min-height: 64px;
        aspect-ratio: 1;
        background-color: var(--custom-color);
        color: var(--bg);
        font-size: 1.4rem;

        &--modal{
            border-radius: 50%;
        }
    }

    &__icons{
        transition: transform .2s ease;
    }


    &__information{
        max-width: 100%;
    }
    
    &__information-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__column{
        padding: 48px var(--sections-padding) 48px var(--sections-padding);
        
        &:nth-child(1){
            position: relative;
            min-height: 100%;
            color: var(--bg-secondary);
            background-color: var(--color-secondary);
            @include abstracts.flexbox(column, 16px);
        }

        &:nth-child(2){
            @include abstracts.flexbox(column, 24px);
        }
    }

    &__name{
        margin: 0 0 8px;
        font-weight: var(--font-medium);
        height: 100%;
        @include abstracts.center();
    }

    &__icon{
        height: 100%;
        width: auto;
        aspect-ratio: 1;
        color: var(--custom-color);
        font-size: 3rem;        
    }

    &__main-data{
        @include abstracts.flexbox(row, 12px, flex-start, center);
    }
 
    &__modal{
        // width: 100vw;
        // height: 100vh;
        // position: fixed;
        inset: 0;
        @include abstracts.center();
        z-index: 1;
        
    }

    &__background{
        background-color:    rgba(17, 13, 10, .3);
        transition: background-color .2s ease;
        // position: fixed;
        inset: 0;
    }

    &__carrousels{
        margin: 5vh 0 0;
    }

    &__description{
        font-size: .85rem;
        margin: 16px 0 0;
    }

    &__sticky{
        position: sticky;
        top: 48px;
    }

    &__paragraph{
        font-size: .9rem;
        @include abstracts.flexbox(column, 12px);
    }
}


@mixin technologies-872px{
    .technologies{

        &__information-box{
            grid-template-columns: 1fr;
        }
    
        &__question{
            font-size: 1.3rem!important;
        }

        &__explanation{
            font-size: .8rem;
        }
    }
}
