@use "../abstracts";

.header {
    @include abstracts.flexbox(row, 0, space-between, center);
    padding: 32px var(--sections-padding);
    position: relative;
    top: 0;
    background-color: var(--bg);
    transition: transform .3s ease;
    z-index: 1;

    &.header--up {
        transform: translateY(-150%);
    }

    &::before {
        content: "";
        position: absolute;
        width: calc(100% - var(--sections-padding) * 2);
        background-color: var(--bg-third);
        height: 1px;
        bottom: 0;
    }

    &__title {
        @include abstracts.flexbox(row, 0px, center, center);
        font-family: var(--title-font);
        font-weight: var(--font-bold);
        line-height: 1rem;
        height: 100%;
        user-select: none;
        font-size: 1.5rem;
    }

    &__dot {
        color: var(--primary);
        font-size: 2.3rem;
        transform: translateY(-4px)
    }


    &__nav {
        @include abstracts.flexbox(row, 0, flex-start, center);
        font-weight: var(--font-bold);
        font-size: .9rem;



    }

    &__list {
        @include abstracts.flexbox(row, 24px, flex-start, center);
    }

    &__item {
        transition: transform .2s ease;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 5px;
            aspect-ratio: 1;
            border-radius: 50%;
            bottom: -8px;
            transform: translateX(-50%);
            left: 50%;
            background-color: var(--primary);
            transition: opacity .2s ease;
            opacity: 0;

        }

        &.header__item--active::before {
            opacity: 1;
        }

        &:hover {
            transform: translateY(-2px);
        }
    }
}


@mixin header-872px {
    .header {

        &__nav {
            position: fixed;
            top: 0;
            right: 0;
            
            flex-direction: column;
            align-items: center;
            transition: transform .7s ease;
            transform: translateX(100%);

            &--open {
                transform: translateX(0);
            }
        }

        &__list {
            background-color: var(--bg);
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            min-height: 100vh;
            min-width: 80vw;
            padding: 0 var(--sections-padding);
            box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        }

        &__talk {
            width: 100%;
        }

        &__close {
            position: fixed;
            font-size: 1.5rem;
            top: 32px;
            right: var(--sections-padding);
        }

        &__item {

            &::before {
                bottom: 50%;
                left: unset;
                transform: translateY(50%);
                right: -10px;
            }
        }


        &__open{
            font-size: 1.5rem;
        }
    }
}