@mixin go-up() {
    @keyframes go-up {
        0% {
            transform: translateY(-5vh);
            opacity: 0;
        }

        20%,
        65% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            transform: translateY(var(--translate));
        }
    }
}

@mixin move-randomly() {
    @keyframes go-up {
        0% {
            transform: translateY(-5vh);
            opacity: 0;
        }

        20%,
        65% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            transform: translateY(-70vh);
        }
    }
}

@mixin shake() {

      @-webkit-keyframes shake-horizontal {

        0%,
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        10%,
        30%,
        50%,
        70% {
            -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
        }

        20%,
        40%,
        60% {
            -webkit-transform: translateX(10px);
            transform: translateX(10px);
        }

        80% {
            -webkit-transform: translateX(8px);
            transform: translateX(8px);
        }

        90% {
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
        }
    }

    @keyframes shake-horizontal {

        0%,
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        10%,
        30%,
        50%,
        70% {
            -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
        }

        20%,
        40%,
        60% {
            -webkit-transform: translateX(10px);
            transform: translateX(10px);
        }

        80% {
            -webkit-transform: translateX(8px);
            transform: translateX(8px);
        }

        90% {
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
        }
    }


}

@mixin loader-animation(){
    @keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}
}