@mixin flexbox(
    $direction: "row",
    $gap: "0",
    $justify: "flex-start",
    $align: "flex-start" ) {

    display: flex;
    flex-direction: $direction;
    gap: $gap;
    justify-content: $justify;
    align-items: $align;
}


@mixin center(){
    display: grid;
    place-items: center;
}

@mixin object-fit(){
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}